@using Microsoft.AspNetCore.Identity
@using PemitManagement.Identity
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

<ul class="navbar-nav fw-bold">

    @if (User.Identity?.IsAuthenticated == true)
    {
        <li class="nav-item me-2">
            <a class="btn btn-orange"
               asp-controller="Account"
               asp-action="Profile">
                Profile
            </a>
        </li>

        <li class="nav-item">
            <form asp-controller="Account"
                  asp-action="Logout"
                  method="post"
                  onsubmit="return confirm('Are you sure you want to logout?');">
                <button type="submit" class="btn btn-danger">
                    Logout
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a asp-controller="Account"
               asp-action="Login"
               class="btn btn-orange">
                Login
            </a>
        </li>
    }

</ul>
