<nav class="navbar navbar-expand-sm app-navbar shadow">
    <div class="container-fluid">

        <a class="navbar-brand d-flex align-items-center gap-2 fw-bold"
           asp-controller="Home"
           asp-action="Index">
            <img src="~/images/logo.png"
                 alt="Permit Management"
                 height="32"
                 asp-append-version="true" />
            <span>Permit Management</span>
        </a>

        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarContent"
                aria-controls="navbarContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <i class="fa-solid fa-bars"></i>
        </button>


        <div class="collapse navbar-collapse" id="navbarContent">

            <ul class="navbar-nav me-auto fw-bold">
           
                @if (User.Identity?.IsAuthenticated == true)
                {
                    <li class="nav-item">
                        <a class="btn btn-orange"
                           asp-controller="Dashboard"
                           asp-action="Index">
                            Dashboard
                        </a>
                    </li>
                }

            </ul>

            <ul class="navbar-nav ms-auto align-items-center fw-bold">
                <partial name="_LoginPartial" />

            </ul>
        </div>

    </div>
</nav>
